{# Dummy header #}

<div class="dummy--header">
  {# Dummy notification #}
  {% if notifications == "true" %}
    <div class="dummy--notification"></div>
  {% endif %}
  {# Dummy nav-bary #}
  <div class="dummy--nav-bar"></div>
</div>