<div class="hamburger_wrapper">
  <button id="hamburger" class="button--modal-toggle" data-modal-id="nav-overlay" aria-label="Menu">
    <span class="hamburger__icon">
      <span class="hamburger__icon__top"></span>
      <span class="hamburger__icon__middle"></span>
      <span class="hamburger__icon__bottom"></span>
    </span>
    <span id="hamburger-label" class="hamburger__label">Menu</span>
  </button>
</div>