{% extends "base.twig" %}

{% block content %}
<article>

	{% include 'hero.twig' %} {# <section id="hero"> #}

	<div class="content-wrapper">

		<section class="section--default">
			<div class="content width--default reveal">
				{# Content #}
				{{ post.content }}
			</div>
		</section>

	</div>
</article>
{% endblock %}
