{% set readTime = (wordCount / 200)|number_format(0) %}
<span class="word-count">{{ wordCount }} words</span> | 
<span class="read-time">Read time: {% if readTime > 1 %}{{ readTime }} min.{% else %} &lt;1 min. {% endif %}</span>