<div id="colophon" class="colophon_container">
  <div class="content width--default">
    <div class="colophon__text text--sm">
      <span class="copyright">&copy;{{site.name}} {{"now"|date('Y')}}.</span>
      <span>
        Site by <a href="https://psone.ca/" target="_blank" rel="noopener noreferrer" class="underline">PSOne</a>
        |
        <a href="https://policies.google.com/technologies/partner-sites" target="_blank" rel="noopener noreferrer" class="underline">Google Terms</a>
      </span>
      {# | #}
      {# iubenda Privacy Policy #}
      {# | #}
      {# iubenda Cookie Policy #}
    </div>
  </div>
</div>